/* Ensure the root and body take full height */
html, body, #root {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

.app-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Prevents the whole page from scrolling */
    background-color: #f3f4f6; /* Matching the gray-100 background */
}

.main-content {
    flex: 1;
    height: 100vh;
    overflow-y: auto; /* Only the content area scrolls */
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.grecaptcha-badge {
    visibility: hidden;
}