html, body, #root {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/* Ensure no parent has overflow hidden */
body {
    overflow-x: hidden;
    overflow-y: auto;
}

.grecaptcha-badge {
    visibility: hidden;
}
